body{
    margin: 0%;
    padding:0%;
    background-color: blueviolet;
}
.container{
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
}
#heading{
    color: white;
    text-shadow: black;
}
#message{
    height: 50px;
    margin: 10px;
    padding: 10px;
    font-size: 2.5rem;
    font-style: rgb(51, 88, 255);
}
#button{
    height: 40px;
    width: 60px;
    color: blue;
    background-color: pink;
    border-radius: 5px;
}
.inner{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
}
#message-recive{
    height: 90px;
    margin: 10px;
    padding: 10px;
    font-size: 2.5rem;
    font-style: rgb(51, 88, 255);
}